[build]
builder = "nixpacks"

[deploy]
startCommand = "python manage.py migrate && gunicorn mysite.wsgi"
healthcheckPath = "/"
healthcheckTimeout = 100
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 3
